{% extends "template.html" %}

{% block title %}
    Book: {{ book.title }}
{% endblock %}

{% block body %}
    <h1>Book Details</h1>

    <ul>
        <li>Title: {{ book.title }}</li>
        <li>Author: {{ book.author }}</li>
        <li>Publication year: {{ book.year }} </li>
        <li>ISBN: {{ book.isbn }} </li>
    </ul>

    <form action="{{ url_for('book', book_id=book.id) }}" method="post">
        <div class="form-group">
            <label for="content">Review:</label>
            <input class="form-control" rows="5" id="content" name="content" placeholder="Enter your review of the book here">
        </div>
        <div class="form-group">
            <button class="btn btn-secondary">Submit</button>
        </div>
    </form>

    <ul>
    {% for review in reviews %}
        <li class="list-group-item list-group-item-action">
            <p>{{ review.user }}:</p>
            <p>{{ review.content }}</p>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
